<div id="intro">
    My objective is to assist hardware platforms by building and optimizing operating systems. 
    My research interests include operating systems, computer architecture, and performance evaluation. 
    I have performed primarily in the field of memory systems with Prof. <a href="https://jeongseob.github.io" target="blank">Jeongseob Ahn</a>, 
    including the design of efficient memory management systems
</div>
<div class="keyword section">
    <h2>Research Interests</h2>
    <span id="interests">Memory Systems, Operating Systems, Computer Architecture</span>
</div>