<div class="section">
    <h2 id="publications">Publications</h2>
    <div id="conferences">
        <h3>Conferences</h3>
        <ul style="list-style-type:none">
        {% for item in site.data.publications.conferences %}
        <li class="paper">
            <div class="paper-left">
                <div class="title">{{ item.title }}</div>
                <div class="conference"><i>{{ item.conference }}</i></div>
                <div class="authors">{{ item.authors }}</div>
            </div>
            <div class="paper-right">
                <div class="short-conference"><b>{{ item.short-conference }}</b></div>
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>
    <div id="journals">
        <h3>Journals</h3>
        <ul style="list-style-type:none">
        {% for item in site.data.publications.journals %}
        <li class="paper">
            <div class="paper-left">
                <div class="title">{{ item.title }}</div>
                <div class="journal"><i>{{ item.journal }}</i></div>
                <div class="authors">{{ item.authors }}</div>
                <div class="btn-wrapper">
                    <a class="btn" target="blank" href="{{ item.link }}">PDF</a>
                </div>
            </div>
            <div class="paper-right">
                <div class="short-journal"><b>{{ item.short-journal }}</b></div>
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
