*,:after,:before {
	box-sizing:border-box;
	background-color:inherit;
	color:inherit;
	margin:0;
	padding:0;
}

body {
	font-family: 'Monserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	line-height:1.5;
	font-size: 1rem;
	color: rgb(22, 23, 26);
}


a {
    color: #000;
    text-decoration-skip-ink: auto;
    text-decoration: underline;
}

pre {
	margin: .5rem 0;
	padding: .5rem;
}

.post p {
	margin: .5rem 0;
}

.post h1, .post h2, .post h3, .post h4 {
	margin: 1rem 0;
}

.post h2:first-child, .project h2:first-child, .photo h2:first-child {
	margin-top: 0;
}

.meta {
	margin: 2rem 0;
}

code,pre {
	background: rgb(236, 237, 238);
}

code {
	padding: .1rem;
}

pre code {
	border: none;
}

pre {
	padding: 1rem;
	overflow-x: auto;
}

img {
	max-width:100%;
	border-radius: 10%;
}

hr {
	background: #000;
    height: 1px;
    border: 0;
}

blockquote {
	font-style: italic;
    border-left: 5px solid #ececec;
    padding-left: 1rem;
}

h1,h2,h3,h4,h5 {
	line-height: 1;
	margin: 1rem 0;
	font-weight: 600;
}

section h1:first-child {
	margin-top: 0;
}

strong, b {
	font-weight: bold;
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture, .project picture {
	margin-bottom: 0.5rem;
}

.posts ul,header ul {
	list-style:none;
}

.posts li {
	align-items:center;
	display:flex;
	justify-content:space-between;
	margin-bottom: .5rem;
}

.posts li a, .posts li div, .projects li a {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration: none;
}

.posts li time, .projects li time {
	padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}

.post ul, .project ul, .post ol  {
	//list-style-position: inside;
}

main {
	display: flex;
	max-width:100rem;
	margin:2rem auto;
	padding:1rem;
	padding-top: 4rem;
}

@media screen and (max-width: 1024px) {
	main {
		flex-direction: column;

		.left {
			width: 100%;
		}

		.right {
			width: 100%;
			margin: 0;
			#bio {
				padding-bottom: 1rem;
			}
		}
	}
}


@media screen and (min-width: 1024px) {
header li {
    display: inline;
	margin-right: 1rem;
}
.logo {
	padding-bottom: 1rem;
}
header ul {
	border-bottom: 1px solid #edf2f7;
	padding-bottom: 2rem;	
}

.photos ul {
	margin-top: 0.5rem;
}

}

nav {
	padding: 16px;
	li {
		transition: 0.4s;
		margin: 0 5rem 0 5rem;
		a {
			text-decoration: none;
		}
	}
	li:hover {
		background: #ececec;
		font-weight: 800;
	}
}

nav ul li{
	padding: 4px;
	text-align: center;
}

section {
	// flex-basis:0;
	flex-grow:1;
	min-width:70%;
	display:flex;
	flex-direction:column;
	
}

figure {
	padding: 4px;
	text-align: center;
	margin: auto;
}

figure img {
	width: 50%;
	height: auto;
}

figcaption {
    font-size: smaller;
}

.left {
	order: 0;
	width: 30%;
	
	ul {
		list-style-type: none;
	}
}

.name, .email {
	text-align: center;
}

.info {
	padding: 16px;
	text-align: center;

	.doc {
		font-weight: 500;
		transition: 0.3s;
		&:hover {
			font-weight: 700;
		}
	}
}

.sns {
	text-align: center;
	padding: 10px 3rem 10px 3rem;

	.account {
		font-weight: 500;
		transition: 0.3s;
		&:hover {
			font-weight: 700;
		}
	}
}

.horizontal-line {
	border-bottom: 1px solid #edf2f7;
	margin: 0 3rem 0 3rem;
}

.right {
	order: 1;
	width: 60%;
	padding: 16px;
	margin-left: 3rem;

	.section {
		padding-bottom: 3rem;
	}
}

.right #bio {
	padding-bottom: 10rem;
	text-align: justify;
}


.paper {
	display: flex;
	padding-bottom: 2rem;

	.paper-left {
		order: 0;
		.title {
			font-weight: 600;
		}
	}

	.paper-right {
		margin-left: 10%;
		text-align: center;
		order: 1;
	}
}

@import "functions";
@import "variables";
@import "buttons";
@import url(https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);